.button{
    width: 110px;
    height: 45px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;

    .slider{
        position: relative;
        width: 100%;
        height: 100%;

        .el{
            width: 100%;
            height: 100%;
            background-color: var(--secondary);
            p{
                margin: 0px;
            }
            &:hover{
                .perspectiveText{
                    transform: rotateX(90deg);
                    p{
                        &:nth-of-type(1){
                            transform: translateY(-100%);
                            opacity: 0;
                        }
                        &:nth-of-type(2){
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    
}

.perspectiveText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
    p{
        transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
        pointer-events: none;
        &:nth-of-type(2){
            position: absolute;
            transform-origin: bottom center;
            transform: rotateX(-90deg) translateY(13px);
            opacity: 0;
        }
    }
}