.menu-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 5px;
    color: white;
    cursor: pointer;
}

.menu-btn p{
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
}