.h-100{
    height: 100vh;
}

.h-50{
    height: 50vh;
}

.scroll-images-section{
    position: relative;
    height: 150vh;
}

.images-container{
    position: sticky;
    top: 0;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.images-container img{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

.images-container img:nth-child(1){
    z-index: 3;
}
