.h-100{
    height: 100vh;
}

.images-container{
    position: relative;
    width: 100%;
    height: 100vh;
}

.images-container img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.images-container img:nth-child(1){
    z-index: 3;
}