.card{
    height: 100%;
    min-width: 350px;
    width: 30rem;
    box-sizing: border-box;
    background-color: white;
    padding: 2rem 2rem;
    border-radius: 15px;
}

.fond-blue{
    background-color: var(--main);
    color: #fff;
}

.fond-dark{
    background-color: var(--dark-background);
    color: #fff;
    width: 35rem;
    max-height: 600px;
}

.formule-card{
    background-color: var(--dark-background);
    color: #fff;
    width: 45rem;
}

.formule-card .requirements span:first-child, .formule-card .price span:nth-child(3), .formule-card .savoir-title span:nth-child(3), .formule-card .avantage:first-child span{
    background-color: var(--main) !important;
    color: rgb(255, 255, 255);
}

.formule-card span{
    background-color: var(--dark-btn-background) !important;
}

.formule-card .duration-minute{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.formule-card .duration-minute span{
    box-sizing: border-box;
}

.formule-card .price{
    margin-bottom: 1rem;
}

.formule-card .line{
    width: 25%;
}

.formule-card .price:last-child{
    margin-bottom: 2rem;
}

.formule-card .savoir-title{
    margin-bottom: 1rem;
}

.fond-dark span{
    background-color: var(--dark-btn-background) !important;
}

.fond-dark .requirements span:first-child, .fond-dark .price span:nth-child(3), .fond-dark .savoir-title span:nth-child(3), .fond-dark .avantage:first-child span{
    background-color: var(--main) !important;
    color: rgb(255, 255, 255);
}

.fond-dark .avantage:nth-child(2) span, .fond-dark .avantage:nth-child(3) span{
    background-color: var(--secondary) !important;
    color: black;
}

.fond-blue span{
    color: var(--dark-background);
}

.fond-blue .requirements span:first-child, .fond-blue .price span:nth-child(3), .fond-blue .savoir-title span:nth-child(3), .fond-blue .avantage:first-child span{
    background-color: var(--secondary) !important;
    color: black;
}

.adult-card span{
    font-family: HafferXH-Light;
}

.adult-requirements{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adult-requirements > span{
    text-transform: uppercase;
    padding: 0.25rem;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

.requirements > span{
    padding: 0.25rem;
    border-radius: 5px;
}

.blue-bg > span:nth-child(odd){
    background-color: var(--main);
    color: #fff;
}

.blue-bg > span:nth-child(even){
    background-color: var(--light-btn-background);
}

.card-title h3{
    font-size: 2rem;
    font-weight: 400;
    margin: 2.5rem 0;
}

.price{
    margin-bottom: 0.75rem;
}

.price:last-child{
    margin-bottom: 1.5rem;
}

.price h4{
    font-size: 1.25rem;
    margin-top: 0.65rem;
    font-weight: 400;
}

.duration{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.duration-minute{
    flex-wrap: nowrap;
}

.duration-minute span, .savoir-title > span{
    padding: 0.2rem;
    background-color: var(--light-btn-background);
    white-space: nowrap;
}

.duration-minute span:nth-child(odd){
    border-radius: 5px;
}

.duration-minute span:nth-child(even){
    border-radius: 10px;
}

.duration-minute span:nth-child(3){
    background-color: var(--main);
    color: #fff;
}

.line{
    width: 100%;
}

.line div{
    width: 100%;
    height: 1px;
    background-color: var(--light-btn-background);
}

.session-amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.savoir-title span{
    border-radius: 5px;
}

.en-savoir-plus h4{
    font-family: HafferXH-Light;
    margin-bottom: 1rem;
}

.savoir-title > span:last-child{
    background-color: var(--main);
    color: #fff;
}

.avantage{
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.avantage span{
    padding: 0.2rem;
    background-color: var(--light-btn-background);
    border-radius: 2px;
}

.avantage p{
    font-family: HafferXH-Light;
    margin: 0.5rem 0;
}

.avantage:first-child span{
    background-color: var(--main);
    color: #fff;
}

.carrousel.carrousel{
    min-height: 720px;
}

@media screen and (max-width : 1100px){
    .carrousel.carrousel{
        min-height: 1200px;
    }

    .card{
        width: 30rem;
    }
}

@media screen and (max-width : 600px){
    .card > *{
        font-size: 80% !important;
    }

    .card{
        width: 20rem;
    }

    .price h4{
        font-size: 1rem;
        margin: 0.5rem 0;
    }
}
