@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@font-face {
  font-family: HafferXH;
  src: url(/fonts/haffer-font-family-1768877273-0/Haffer-TRIAL-Regular.otf) format("opentype");
}

@font-face {
  font-family: HafferXH-Light;
  src: url(/fonts/haffer-font-family-1768877273-0/Haffer-TRIAL-Light.otf) format("opentype");
}

@font-face {
  font-family: HafferXH-Bold;
  src: url(/fonts/haffer-font-family-1768877273-0/Haffer-TRIAL-Bold.otf) format("opentype");
}


@font-face {
  font-family: Great-Sailor;
  src: url(/fonts/Great\ Sailor.otf) format("opentype");
}

:root{
  font-family: "HafferXH", sans-serif;
  --dark-background: #201D1D;
  --light-background: #E9E9E9;
  --main: #6840FF;
  --secondary: #FF6762;
  --dark-btn-background: #353232;
  --light-btn-background: #E0E0E0;
}

html,
body{
  margin: 0;
  background-color: var(--light-background);
}