@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{
  font-family: "Poppins", sans-serif;
  --dark-background: #201D1D;
  --light-background: #E9E9E9;
  --main: #6840FF;
  --secondary: #FF6762;
  --dark-btn-background: #353232;
  --light-btn-background: #E0E0E0;
}